<!DOCTYPE html>
<html lang="en">
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			PANORAMA
		</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->
		<link href="/metronic/assets5/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metronic/assets5/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/metronic/assets5/demo/default/media/img/logo/favicon.ico" />
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signup m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url(/metronic/assets5/app/media/img//bg/bg-2.jpg);">
				<div class="m-grid__item m-grid__item--fluid m-login__wrapper">
					<div class="m-login__container">
						<div class="m-login__logo">
							<a href="#">
								<img src="/metronic/assets5/app/media/img/logos/logo-1.png">
							</a>
						</div>
						<div class="m-login__signup">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Sign Up
								</h3>
								<div class="m-login__desc">
									Enter your details to create your account:
								</div>
							</div>
							<form class="m-login__form m-form" action="/register" method='post'>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Username" name="username">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="password" placeholder="Password" name="password" id='password'>
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="confirm">
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
										Sign Up
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<form action="/uploadAvatar" method='post' enctype="multipart/form-data" id='id_formUploadAvatar' hidden = 'true'>
			<input type="file" name="avatar" id='id_fileAvatar' accept="image/*" data-type='image'>
			<input type="text" name="current_url" id="id_current_url">
		</form>

		<!-- end:: Page -->
    	<!--begin::Base Scripts -->
		<script src="/metronic/assets5/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/metronic/assets5/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
		<script src="/js/upload.js" type = 'text/javascript'></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Snippets -->
		<script type = 'text/javascript'>
		$(document).ready(function() {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            {{?it.warning}}
            toastr.warning("{{=it.warning}}");
            {{?}}

            $('.m-login__form').validate({
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {
                    username: {
                        required: true,
                        minlength: 3,
                        maxlength:16,
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 7,
                        maxlength: 50
                    },
                    confirm: {
                        equalTo: "#password",
                        minlength: 7,
                        maxlength: 50
                    }
                },
                messages: {
                    username: "Username only allowed alphanumeric, hyphen, underscore and 3 - 16 length",
                    email: "Please enter a valid email address",
                    password: "Password should be at least 7 characters",
                    confirm: "Please enter the same value again"
                },
                invalidHandler: function(event, validator) {

                },
                highlight: function(element) {
                    $(element)
                        .closest('.form-group').addClass('has-error');
                },
                success: function(label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },
                errorPlacement: function(error, element) {
                    $(error).css('color','red');
					error.insertAfter(element);
                },
                submitHandler: function(form)
                {
                    form.submit();
                }
            });

            $('.m-login__form input').keypress(function(e) {
                if (e.which == 13) {
                    if ($('.m-login__form').validate().form()) {
                        $('.m-login__form').submit();
                    }
                    return false;
                }
            });
		});

		</script>
		<!--end::Page Snippets -->
	</body>
	<!-- end::Body -->
</html>
