<header class="m-grid__item    m-header "  data-minimize="minimize" data-minimize-mobile="minimize" data-minimize-offset="200" data-minimize-mobile-offset="200" style="background: #ffffff12;">

    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop  m-header__wrapper">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand m-brand--mobile">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a href="/" class="m-brand__logo-wrapper">
                            <img alt="" src="/metronic/assets5/demo/demo9/media/img/logo/logo.png"/>
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" class="m-brand__icon m-brand__toggler m-brand__toggler--left m_aside_left_toggler m--hide">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--middle m-stack__item--left m-header-head" id="m_header_nav">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <div class="m-stack__item m-stack__item--middle m-stack__item--fit m--hide">
                        <!-- BEGIN: Aside Left Toggle -->
                        <a href="javascript:;" id="" class="m-aside-left-toggler m-aside-left-toggler--left m_aside_left_toggler" style="display: none;">
                            <span></span>
                        </a>
                        <!-- END: Aside Left Toggle -->
                    </div>
                    <div class="m-stack__item m-stack__item--fluid">
                        <!-- BEGIN: Horizontal Menu -->
                        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                            <i class="la la-close"></i>
                        </button>
                        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "  style="padding-left: 0;">
                            <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                <li class="m-menu__item  m-menu__item--active  m-menu__item--submenu m-menu__item--rel m--hide">
                                    <a  href="/" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <i class="m-menu__link-icon flaticon-search-1"></i>
                                        <span class="m-menu__link-text">
                                            Explore
                                        </span>
                                    </a>
                                </li>
                                {{?it.user}}
                                {{?}}
                            </ul>
                        </div>
                        <!-- END: Horizontal Menu -->
                    </div>
                </div>
            </div>
            <div class="m-stack__item m-stack__item--middle m-stack__item--center">
                <!-- BEGIN: Brand -->
                <a href="/" class="m-brand m-brand--desktop">
                    <img alt="" src="/metronic/assets5/demo/demo9/media/img/logo/logo.png"/>
                </a>
                <!-- END: Brand -->
            </div>
            <div class="m-stack__item m-stack__item--right">
                <!-- BEGIN: Topbar -->
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline" {{?!it.user}} style="padding:20px 10px; height: 80px;" {{?}}>
                            {{?it.user}}
                            <li class="m-nav__item m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                    <span class="m-topbar__username m--hidden-mobile" style="font-size: 1.07rem;color: #fff;">
                                        {{=it.user.username}}
                                    </span>
                                    <span class="m-topbar__userpic">
                                        <img src="/img/photos/{{=it.user.username}}.jpg?v={{=new Date()}}" class="m--img-rounded m--marginless m--img-centered" alt="" id="id_imgAvatar"/>
                                    </span>
                                    <span class="m-nav__link-icon m-topbar__usericon  m--hide">
                                        <span class="m-nav__link-icon-wrapper">
                                            <i class="flaticon-user-ok"></i>
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="m-nav__item m-nav__item--accent m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center  m-dropdown--mobile-full-width">
                                <a href='/logout'>
                                    <button type="button" class="btn m-btn--pill m-btn--air btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase m-header-signout" style="margin-left: 20px;">
                                        SIGN OUT
                                    </button>
                                </a>
                            </li>
                            {{??}}
                            {{?}}
                            <li id="m_quick_sidebar_toggle" class="m-nav__item m-nav__item--info m-nav__item--qs m--hide">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                    <span class="m-nav__link-icon m-nav__link-icon-alt">
                                        <span class="m-nav__link-icon-wrapper">
                                            <i class="flaticon-grid-menu"></i>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Topbar -->
            </div>
        </div>
    </div>


</header>